flows_Hugo.json
[{"id":"22344677.78144a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bb8ab4ef.ffc228","type":"tab","label":"SWITCH","disabled":false,"info":""},{"id":"4ccafab1.d403b4","type":"tab","label":"DASHBOARD","disabled":false,"info":""},{"id":"56df27b2.5d7948","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#2f7e9d","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#2f7e9d","edited":true},"page-titlebar-backgroundColor":{"value":"#2f7e9d","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4ea7ca","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#2f7e9d","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Mi control","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"cac572ca.23401","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"86ae30fb.e7ce6","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"8793e0c6.b6d92","type":"ui_group","z":"","name":"Default","tab":"cac572ca.23401","order":1,"disp":true,"width":"6","collapse":false},{"id":"3202b8ba.1a7b38","type":"inject","z":"22344677.78144a","name":"timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"topico1","payload":"hola mundo","payloadType":"str","x":140,"y":120,"wires":[["5aab9db6.68dbe4"]]},{"id":"5aab9db6.68dbe4","type":"debug","z":"22344677.78144a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":120,"wires":[]},{"id":"d18644f9.e30f18","type":"inject","z":"bb8ab4ef.ffc228","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"HOLA","payloadType":"str","x":220,"y":180,"wires":[["26c4047.4adc4fc"]]},{"id":"f0ccb06f.48295","type":"inject","z":"bb8ab4ef.ffc228","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ADIOS","payloadType":"str","x":210,"y":260,"wires":[["26c4047.4adc4fc"]]},{"id":"26c4047.4adc4fc","type":"switch","z":"bb8ab4ef.ffc228","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"HOLA","vt":"str"},{"t":"eq","v":"ADIOS","vt":"str"},{"t":"eq","v":"SALUDOS","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":400,"y":220,"wires":[["8849cca2.c0f69"],["fd0ed612.6b9d08"],["52a5f549.eb9aac"]]},{"id":"8849cca2.c0f69","type":"debug","z":"bb8ab4ef.ffc228","name":"CUANDO HOLA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":180,"wires":[]},{"id":"fd0ed612.6b9d08","type":"debug","z":"bb8ab4ef.ffc228","name":"ADIOSS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"52a5f549.eb9aac","type":"debug","z":"bb8ab4ef.ffc228","name":"SALUDOS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":340,"wires":[]},{"id":"872e5e75.03602","type":"inject","z":"bb8ab4ef.ffc228","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"SALUDOS","payloadType":"str","x":210,"y":340,"wires":[["26c4047.4adc4fc"]]},{"id":"ed2883c4.80ad2","type":"ui_button","z":"4ccafab1.d403b4","name":"","group":"8793e0c6.b6d92","order":1,"width":0,"height":0,"passthru":false,"label":"Push","tooltip":"","color":"","bgcolor":"","icon":"","payload":"claro","payloadType":"str","topic":"","x":300,"y":220,"wires":[["8691cd96.b6a7b","d5cd4f9.c6500b"]]},{"id":"8691cd96.b6a7b","type":"ui_audio","z":"4ccafab1.d403b4","name":"hola","group":"8793e0c6.b6d92","voice":"es-ES","always":"","x":530,"y":220,"wires":[]},{"id":"f04d545a.504678","type":"ui_button","z":"4ccafab1.d403b4","name":"","group":"8793e0c6.b6d92","order":2,"width":0,"height":0,"passthru":false,"label":"EBOOT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"eboot","payloadType":"str","topic":"","x":310,"y":340,"wires":[["8691cd96.b6a7b"]]},{"id":"bf27c922.09dfa8","type":"ui_slider","z":"4ccafab1.d403b4","name":"","label":"Medidas","tooltip":"","group":"8793e0c6.b6d92","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":400,"y":500,"wires":[["bbbf757f.20d9f8","34ba43b6.7997ec"]]},{"id":"bbbf757f.20d9f8","type":"ui_gauge","z":"4ccafab1.d403b4","name":"","group":"8793e0c6.b6d92","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":500,"wires":[]},{"id":"22610117.9bccfe","type":"random","z":"4ccafab1.d403b4","name":"","low":"1","high":"100","inte":"true","property":"payload","x":380,"y":700,"wires":[["bf27c922.09dfa8"]]},{"id":"583b74d9.cff81c","type":"inject","z":"4ccafab1.d403b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":220,"y":700,"wires":[["22610117.9bccfe"]]},{"id":"34ba43b6.7997ec","type":"ui_chart","z":"4ccafab1.d403b4","name":"","group":"8793e0c6.b6d92","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":640,"y":760,"wires":[[]]},{"id":"d5cd4f9.c6500b","type":"ui_toast","z":"4ccafab1.d403b4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"salir","raw":false,"topic":"","name":"","x":580,"y":120,"wires":[[]]}]